* {
    padding: 0;
    margin: 0;
}

ol,
ul,
li {
    list-style-type: none;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

#content {
    width: 100%;
    position: absolute;
    background: #f2f2f2;
}

.up {
    margin: 10px auto;
    width: 1200px;
    height: 400px;
    background: #ffffff;
    border: solid 1px #cccccc;
    border-radius: 8px;
}

.left {
    margin: 0 0.5%;
    float: left;
    width: 32.3%;
    height: 100%;
}

.middle {
    // padding: 25px 0px 0px;
    margin: 0 0.5%;
    float: left;
    width: 32.3%;
    height: 100%;
}

.right {
    margin: 0 0.5%;
    float: left;
    width: 32.3%;
    height: 100%;
}


/**
 * 自定义下划线
 */

.underline {
    border-bottom: 1px solid #e4e4e4;
    margin-left: 16%;
    margin-top: 0.5%;
}



.left table {
    // background: blue;
    width: 100%;
    height: 80%;
}

.left .stat-title {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    height: 5%;
}


/*table里面文字样式*/

.left table p {
    padding: 0.625rem;
    font-family: 'Arial Normal', 'Arial';
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
}



/*设置table 行高度*/

.left table .row {
    height: 12%;
}


/*单独设置第一行高度*/

.left table .row-1 {
    height: 15%;
}


/*第一列 文本行左对齐 */

.left table .col-1 {
    position: relative;
    left: 1rem;
    text-align: left;
}


/*第二、三列 文本居中对齐*/

.left table .col-2,
.left table .col-3 {
    text-align: center;
}


/*第一行 第二、三列加边框*/

.left table .row-1 .col-2 > p,
.left table .row-1 .col-3 > p {
    border-style: solid;
    width: 80px;
    margin: auto;
    border: solid 1px #cccccc;
    border-radius: 8px;
    line-height: 5px;
    font-size: 10px;
}

.row-6 .col-2 > p,
.row-6 .col-3 > p {
    font-weight: bold;
}

[v-cloak] {
    display: none;
}

.yawRate {
    z-index: 999;
    width: 35%;
    height: 10%;
    float: right;
    position: relative;
    top:10%;
    right: 2%;
    // background: red;
}

.yawRateText {
    font-size:0.625rem;
    text-align: center;
}

.lineChart {
    height: 90%;
    width: 100%;
}

.gopng_u15009_outer {
    margin-left: 16%;
    height: 39px;
    width: 50px;
    overflow: hidden;
}

.gopng_u15009 {
    background: url(../img/sprite.png) -0px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 0px;
    _margin-left: -0px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

.gopng_u15063_outer {
    height: 21px;
    width: 141px;
    overflow: hidden;
    float: right;
}

.gopng_u15063 {
    background: url(../img/sprite.png) -50px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 50px;
    _margin-left: -50px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}
